In [75]:
# import numpy
import pandas as pd
# from sklearn.preprocessing import OneHotEncoder

In [76]:
df = pd.read_csv('raw_data.csv', encoding='utf-8-sig', index_col=0)

In [77]:
# 행 번호 삭제
df.drop('cpname', axis=1, inplace=True)
df.drop('title', axis=1, inplace=True)
df.drop('career', axis=1, inplace=True)
df.head()

,region,education,jobtype,cptype,sales,employees,aversalary,capital,pros
0,서울,대졸이상,정규직,중견기업,"1조 8,090억 8,204만원 (2023)","2,036 명 재직중","9,516만원\n자세히보기","778억 1,959만원",안정적인 장수 회사-성장판 열린 회사-구직자 인기기업-복지의 끝판왕-매출 1조 클럽...
1,서울,대졸이상,정규직,대기업,"6,062억 8,188만원 (2023)","5,415 명 재직중","2,858만원\n자세히보기","129억 7,880만원",성장판 열린 회사-복지의 끝판왕-HOT한 인기기업-보너스로 행복해요♥-장기근속수당제...
2,서울,대졸,인턴,대기업,"6,062억 8,188만원 (2023)","5,415 명 재직중",-,"129억 7,880만원",안정적인 장수 회사-성장판 열린 회사-구직자 인기기업-채용에 적극적인 회사-복지의 ...
3,서울,학력무관,인턴,대기업,"6,062억 8,188만원 (2023)","5,415 명 재직중",-,"129억 7,880만원",성장판 열린 회사-구직자 인기기업-채용에 적극적인 회사-매출 1조 클럽-HOT한 인...
4,서울,학력무관,정규직,대기업,"3,287억 9,127만원 (2018)","3,241 명 재직중","5,739만원\n자세히보기","20억 8,129만원",성장판 열린 회사-채용에 적극적인 회사-HOT한 인기기업-지방에 위치한 대기업

In [78]:
tmp = str(df['pros'][5])
list = tmp.split('-')
print(list)
print(len(list))

['안정적인 장수 회사', '구직자 인기기업', '채용에 적극적인 회사', 'HOT한 인기기업']
4

In [79]:
# region : Label encoding	
# education	: Label encoding
# jobtype	: Label encoding
# cptype : Label encoding

# 매출 등의 숫자들은 분산이 너무 크므로 곧바로 min-max scaling 이나 정규화를 적용시키는 것은 부적절하다 판단
# 1. 범위에 따라 적절하게 단위를 변환할 것 (예 : 천만원 단위)
# 2. 매우 큰 값 (수십 조) 가 존재하므로 min-max scaling 대신 정규화 적용
# sales
# aversalary
# employees
# capital 

# pros 
# 1안) 항목의 갯수를 센 후 스케일을 다른 피쳐와 맞출 예정 (가중치가 동일한 단순합 형태)
# 2안) 수동으로 항목마다 가중치를 다르게 해서 가중합 후 스케일을 다른 피쳐와 맞추기

# ex) 빵빵한 구내식당 - 1점. 매출 1000대 기업 - 5점 -> (1안) 2점, (2안) 9점

In [80]:
print(df['education'].value_counts())
print(df['jobtype'].value_counts())
print(df['cptype'].value_counts())

education
학력무관     113
대졸이상      19
초대졸이상     18
대졸        12
고졸이상       8
Name: count, dtype: int64
jobtype
정규직         90
인턴          44
계약직         17
정규직외        10
교육생(연수생)     4
알바           4
계약직외         1
Name: count, dtype: int64
cptype
대기업     76
중견기업    32
중소기업    32
중기업     30
Name: count, dtype: int64

In [85]:
# label encoding
# 나중에 선형모델에서 feature 값들을 바탕으로 '좋은 일자리' 에 대한 점수를 매길 것을 감안하고 label encoding
df['education'] = df['education'].replace({
    '학력무관': 0,
    '고졸': 1,
    '고졸이상': 2,
    '초대졸이상': 3,
    '대졸': 4,
    '대졸이상': 4
},)


df['jobtype'] = df['jobtype'].replace({
    '알바' : 0,
    '인턴' : 1,
    '계약직': 2,
    '계약직외' : 2,
    '정규직' : 3,
    '정규직외' : 3,
    '교육생(연수생)' : 1,
},)

df['cptype'] = df['cptype'].replace({
    '소기업': 0,
    '중기업' : 1,
    '중소기업' : 1,
    '중견기업': 2,
    '대기업': 3,
},)

C:\Users\user\AppData\Local\Temp\ipykernel_6324\353084244.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['jobtype'] = df['jobtype'].replace({

In [86]:
print(df['education'].value_counts())
print(df['jobtype'].value_counts())
print(df['cptype'].value_counts())
df.head()

education
0    113
4     31
3     18
2      8
Name: count, dtype: int64
jobtype
3    100
1     48
2     18
0      4
Name: count, dtype: int64
cptype
3    76
1    62
2    32
Name: count, dtype: int64

,region,education,jobtype,cptype,sales,employees,aversalary,capital,pros
0,서울,4,3,2,180908204,"2,036",9516,7781959,안정적인 장수 회사-성장판 열린 회사-구직자 인기기업-복지의 끝판왕-매출 1조 클럽...
1,서울,4,3,3,60628188,"5,415",2858,1297880,성장판 열린 회사-복지의 끝판왕-HOT한 인기기업-보너스로 행복해요♥-장기근속수당제...
2,서울,4,1,3,60628188,"5,415",-,1297880,안정적인 장수 회사-성장판 열린 회사-구직자 인기기업-채용에 적극적인 회사-복지의 ...
3,서울,0,1,3,60628188,"5,415",-,1297880,성장판 열린 회사-구직자 인기기업-채용에 적극적인 회사-매출 1조 클럽-HOT한 인...
4,서울,0,3,3,32879127,"3,241",5739,208129,성장판 열린 회사-채용에 적극적인 회사-HOT한 인기기업-지방에 위치한 대기업

In [83]:
for col in ['sales', 'aversalary', 'capital']:
    df[col] = df[col].str.replace(',', '')
    df[col] = df[col].str.replace('조 ', '')
    df[col] = df[col].str.replace('억 ', '')

for col in ['sales', 'aversalary', 'capital']:
    df[col] = df[col].str.replace('만원', '')
    df[col] = df[col].str.replace('억원', '0000')
    df[col] = df[col].str.replace('조원', '00000000')

# run this block only once
df['sales'] = df['sales'].str[:-7]
# 빈 값이라면 '-' 으로 대체
df['sales'] = df['sales'].apply(lambda x : x if x != '' else '-')
df['aversalary'] = df['aversalary'].str.replace('\n자세히보기', '')
df['employees'] = df['employees'].str.replace(' 명 재직중', '')

In [88]:
df.to_csv('raw_data2.csv', encoding='utf-8-sig')